/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 4 de abr. de 2023, 09:49:34
    Author     : Desktop
*/

.topo
{
    background-image: url("../imagem/figTopo.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    
}
